{% extends "base_layout.html" %}

{% block content %}
  <form method="POST" action="{% url 'users:create' %}">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="card">
                  <div class="card-header">Регистрация</div>
                  <div class="card-body form-inputs">
                    <div class="form-group mb-3">
                      <label for="{{ form.first_name.id_for_label }}">Имя</label>
                    </div>
                    <div class="form-group mb-3">
                      {{ form.first_name }}
                    </div>

                    <div class="form-group mb-3">
                      <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
                    </div>
                    <div class="form-group mb-3">
                      {{ form.last_name }}
                    </div>

                    <div class="form-group mb-3">
                      <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                    </div>
                    <div class="form-group mb-3">
                      {{ form.username }}
                    </div>

                    <div class="form-group mb-3">
                      <label for="{{ form.password1.id_for_label }}">Пароль</label>
                    </div>
                    <div class="form-group mb-3">
                      {{ form.password1 }}
                    </div>

                    <div class="form-group mb-3">
                      <label for="{{ form.password2.id_for_label }}">Подтверждение пароля</label>
                    </div>
                    <div class="form-group mb-3">
                      {{ form.password2 }}
                    </div>

                    <div class="form-group mb-3">
                      <input type="submit" class="btn btn-primary" value="Зарегистрировать" />
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
{%  endblock %}