{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
    <h3>{% translate 'Delete user' %}</h3>
    <div class="mb-3">
      <strong>
        {% blocktranslate with first_name=user.first_name last_name=task.last_name %}Are you sure you want to remove user {{ first_name }} {{ last_name }}?{% endblocktranslate %}
      </strong>
    </div>
    <form method="POST" action="{% url 'users:delete' user.id %}">
      {% csrf_token %}
      <div class="mb-3">
        <input class='btn btn-danger' type="submit" value="{% translate 'Yes, delete' %}">
      </div>
    </form>
{% endblock %}
