{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
    <h3>{% translate 'Users' %}</h3>
    <table class="table">
    <thead>
        <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Email' %}Адрес E-Mail</th>
            <th>{% translate 'Full name' %}</th>
            <th>{% translate 'Date' %}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
            <td>
              <a href='{% url 'users:update' user.id %}' class="btn btn-primary btn-sm">{% translate 'Edit' %}</a>
            </td>
            <td>
              <a href='{% url 'users:delete' user.id %}' class="btn btn-danger btn-sm">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {%  endfor %}
    </tbody>
    </table>
{% endblock content %}