{% extends 'base_layout.html' %}

{% block content %}
    <h3>Пользователи</h3>
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Адрес E-Mail</th>
            <th>Полное имя</th>
            <th>Дата/время создания</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:'d.m.Y H:i' }}</td>
            <td>
              <a href='{% url 'users:update' user.id %}' class="btn btn-primary btn-sm">Изменить</a>
            </td>
            <td>
              <a href='#' class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {%  endfor %}
    </tbody>
    </table>
{% endblock content %}