{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
    <h3>{% translate 'Removing label' %}</h3>
    <div class="mb-3">
      <strong>
        {% blocktranslate with label_name=label.name %}Are you sure you want to remove label {{ label_name }}?{% endblocktranslate %}
      </strong>
    </div>
    <form method="POST" action="{% url 'labels:delete' label.id %}">
      {% csrf_token %}
      <div class="mb-3">
        <input class='btn btn-danger' type="submit" value="{% translate 'Yes, delete' %}">
      </div>
    </form>
{% endblock %}
