{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
  <div class="float-start">
    <h3>{% translate 'Labels' %}</h3>
  </div>
  <div class="float-end">
    <a class="btn btn-primary btn-sm" href="{% url 'labels:create' %}">{% translate 'Create label' %}</a>
  </div>
  <table class="table">
    <thead>
      <th>{% translate 'ID' %}</th>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Date' %}</th>
      <th></th>
    </thead>
    <tbody>
      {% for label in labels %}
        <tr>
          <td>{{ label.id }}</td>
          <td>{{ label.name }}</td>
          <td>{{ label.timestamp|date:'d.m.Y H:i' }}</td>
          <td class="float-end">
            <a href='{% url 'labels:update' label.id %}' class="btn btn-primary btn-sm">{% translate 'Edit' %}</a>
            <a href='{% url 'labels:delete' label.id %}' class="btn btn-danger btn-sm">{% translate 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}