<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Проект Task Manager</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container p-4">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Task Manager</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users">Пользователи</a>
                 </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Выход</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'login' %}">Вход</a>
                  </li>
                  <li>
                    <a class="nav-link" aria-current="page" href="/users/new">Регистрация</a>
                  </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container p-4">
      {% bootstrap_messages %}
      <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>