{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
    <h3>{% translate 'Delete task' %}</h3>
    <div class="mb-3">
      <strong>
        {% blocktranslate with task_name=task.name %}Are you sure you want to remove task {{ task_name }}?{% endblocktranslate %}
      </strong>
    </div>
    <form method="POST" action="{% url 'tasks:delete' task.id %}">
      {% csrf_token %}
      <div class="mb-3">
        <input class='btn btn-danger' type="submit" value="{% translate 'Yes, delete' %}">
      </div>
    </form>
{% endblock %}
