{% extends 'base_layout.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="float-start">
        <h3>Задачи</h3>
      </div>
      <div class="float-end">
        <a class="btn btn-primary btn-sm" href="{% url 'tasks:create' %}">Создать задачу</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
            <form method="GET" action="{% url 'tasks:index' %}">
              <div class="row">
                <div class="col-auto">
                  <label for="{{ form.status.id_for_label }}">
                    {{ form.status.label }}
                    {{ form.status }}
                  </label>
                </div>
                <div class="col-auto">
                  <label for="{{ form.executor.id_for_label }}">
                    {{ form.executor.label }}
                    {{ form.executor }}
                  </label>
                </div>
                <div class="col-auto">
                  <label for="{{ form.label.id_for_label }}">
                    {{ form.label.label }}
                    {{ form.label }}
                  </label>
                </div>
                <div class="col">
                  <label for="{{ form.only_my.id_for_label }}">
                    {{ form.only_my }}
                    {{ form.only_my.label }}
                  </label>
                  <input type="submit" class="btn btn-primary float-end" value="Показать" />
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Статус</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url 'tasks:show' task.id %}">{{ task.name }}</a></td>
          <td>{{ task.status.name }}</td>
          <td>{{ task.user.username }}</td>
          <td>{{ task.executor.username }}</td>
          <td>{{ task.timestamp|date:'d.m.Y H:i' }}</td>
          <td class="float-end">
            <a href='{% url 'tasks:update' task.id %}' class="btn btn-primary btn-sm">Изменить</a>
            <a href='{% url 'tasks:delete' task.id %}' class="btn btn-danger btn-sm">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}