{% extends 'base_layout.html' %}

{% block content %}
  <div class="float-start">
    <h3>Просмотр задачи</h3>
  </div>
  <div class="float-end">
    <a href='{% url 'tasks:update' task.id %}' class="btn btn-primary btn-sm">Изменить</a>
    <a href='{% url 'tasks:delete' task.id %}' class="btn btn-danger btn-sm">Удалить</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">{{ task.name }}</div>
        <div class="card-body">
          <p>{{ task.description }}</p>
          <hr/>
          <p>Автор: {{ task.user }}</p>
          <p>Исполнитель: {{ task.executor }}</p>
          <p>Статус: {{ task.status }}</p>
          <p>Дата создания: {{ task.timestamp }}</p>
          <p>Метки:</p>
          <ul>
            {% for label in task.labels.all %}
              <li>{{ label }}</li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>
  </div>

{% endblock %}