{% extends 'base_layout.html' %}

{% load i18n %}

{% block content %}
  <div class="float-start">
    <h3>{% translate 'Task details' %}Просмотр задачи</h3>
  </div>
  <div class="float-end">
    <a href='{% url 'tasks:update' task.id %}' class="btn btn-primary btn-sm">{% translate 'Edit' %}</a>
    <a href='{% url 'tasks:delete' task.id %}' class="btn btn-danger btn-sm">{% translate 'Delete' %}</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">{{ task.name }}</div>
        <div class="card-body">
          <p>{{ task.description }}</p>
          <hr/>
          <p>{% translate 'Author' %}: {{ task.user }}</p>
          <p>{% translate 'Executor' %}: {{ task.executor }}</p>
          <p>{% translate 'Status' %}: {{ task.status }}</p>
          <p>{% translate 'Date' %}: {{ task.timestamp }}</p>
          <p>{% translate 'Labels' %}:</p>
          <ul>
            {% for label in task.labels.all %}
              <li>{{ label }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}