{% extends "base_layout.html" %}

{% load i18n %}

{% block content %}

    {% if form.errors %}
        <p>{% translate "Your username and password didn't match. Please try again." %}</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>{% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
        {% else %}
            <p>{% translate "Please login to see this page." %}</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">{% translate 'Login' %}</div>
                    <div class="card-body form-inputs">
                        <div class="form-group mb-3">
                          <label for="{{ form.username.id_for_label }}">{% translate 'Username' %}</label>
                        </div>
                        <div class="form-group mb-3">
                          {{ form.username }}
                        </div>
                        <div class="form-group mb-3">
                            <label for="{{ form.password.id_for_label }}">{% translate 'Password' %}</label>
                        </div>
                        <div class="form-group mb-3">
                          {{ form.password }}
                        </div>

                        <input type="submit" value="{% translate 'Sign in' %}" class="btn btn-primary">
                        <input type="hidden" name="next" value="{{ next }}">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}